.collections-list {
  list-style: none;
  padding: 0;
  font-size: 1.1rem;
  line-height: 2.2;
}

.collections-list li a {
  text-decoration: none;
  color: #222;
  transition: color 0.2s;
}

.collections-list li a:hover {
  color: #888;
}
